<div class='card'>
  <div class='card-body'>
    <h2>Login</h2>
    <form id='login-form'>
      <div class='mb-3'>
        <label for='email' class='form-label'>Email address</label>
        <input type='email' class='form-control' id='login-email' />
      </div>
      <div class='mb-3'>
        <label for='password' class='form-label'>Password</label>
        <input type='password' class='form-control' id='login-password' />
      </div>
      <button type='submit' class='btn btn-primary'>Login</button>
    </form>
  </div>
</div>
<div class='card' style='margin-bottom: 80px;'>
  <div class='card-body'>
    <h2>Sign Up</h2>
    <form id='signup-form'>
      <div class='mb-3'>
        <label for='first-name-form' class='form-label'>First Name</label>
        <input type='text' class='form-control' id='first-name-form' />
      </div>
      <div class='mb-3'>
        <label for='last-name-form' class='form-label'>Last Name</label>
        <input type='text' class='form-control' id='last-name-form' />
      </div>
      <div class='mb-3'>
        <label for='role' class='form-label'>Role</label>
        <input type='text' class='form-control' id='role-form' />
      </div>
      <div class='mb-3'>
        <label for='email' class='form-label'>Email address</label>
        <input type='email' class='form-control' id='email-form' />
      </div>
      <div class='mb-3'>
        <label for='password' class='form-label'>Password</label>
        <input type='password' class='form-control' id='password-form' />
      </div>
      <button type='submit' class='btn btn-primary'>Sign Up</button>
    </form>
  </div>
</div>